<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="../template.js"></script>
    <style>
        ul{ padding-left: 0px; list-style-type: none;}
    </style>
</head>
<body>
<div class="content container">
</div>
<div class="container selectYear">
</div>
<div class="container selectMonth">
</div>
<script type="text/html" id="select">
    {{if admin}}
    <select>
        {{each list as value}}
        <option>{{value}}</option>
        {{/each}}
    </select>
    {{/if}}
</script>
<script type="text/javascript">
    var arrYear = [];
    for(var i=1900;i<2017;i++){
        arrYear.push(i+1+"年");
    }
    var dataYear = {
        list:arrYear ,
        admin: true
    }
    var htmlYear = template("select",dataYear);
    $(".selectYear").html(htmlYear);
    var arrMonth = [];
    for(var i=0;i<12;i++){

        arrMonth.push(i+1+"月");
    }
    var dataSelect = {
        list: arrMonth,
        admin: true
    };
    var html = template("select",dataSelect);
    $(".selectMonth").html(html);
</script>
<script type="text/html" id="test">
<h4>{{title}}</h4>
{{if admin}}
<ul>
    {{each list as value i}}
    <li>{{i+1}}、{{value}}</li>
    {{/each}}
</ul>
{{/if}}
</script>
<script>
    var data = {
        title: "template",
        list: ["国内","出境","旅游","周边"],
        admin :true
    };
    var html = template('test',data);
    $(".content").html(html);
</script>
</body>
</html>