body{
    background-color: #f5f5f5;
    font-size: 12px;
}
body,p,div{
    margin: 0;
    padding: 0;
}
.scroll{
    width:600px;
    height: 300px;
    padding: 15px 25px 15px 15px;
    margin:0 auto;
    background-color: #fff;
    position: relative;
}
.scroll_cont{
    height: 100%;
    line-height: 26px;
    text-indent: 2em;
    color:#333;
    overflow: hidden;
}
.scroll_bar{
    background-color: #e5e5e5;
    position: absolute;
    right:0;
    top:0;
    width:11px;
    height: 100%;
}
.scroll_slide{
    background-color: #fff;
    width:10px;
    height: 36px;
    margin-left: 1px;
}