body{
    background-color: #f6f6f6;
}
.cards,.cards_tit{
    width:600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.cards_box{
    padding: 20px;
    background-color: #ffffff;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}
.cards_box li{
    float: left;
    width: 40px;
}