/*公共样式*/
.comWidth{  width:1000px;  margin-left: auto;  margin-right: auto;  }
.show{
    display: block;
}
.hide{
    display: none;
}
/*topBar*/
.topBar{background: #f7f7f7; height: 31px;line-height: 31px;}
.collection{font-weight: bold;color:#656565;
    background: url("../images/icon/collection.jpg") left center no-repeat;padding-left: 20px;}
.top_nav{ color:#000;}
.top_nav a{ color:#656565;}
/*logoBar*/
.logoBar{background: #1d7ad9;height: 85px;}
.logo{padding: 13px 185px 0 40px; }
.searchBar{width:430px;height: 35px;line-height: 35px;margin-top: 23px;/* background: #fff; */}
.search_text{height: 35px;width:340px;border:none;padding:0 10px;background: #fff;line-height: 35px\9;}
.search_btn{border:none;width:70px;font:14px/35px "微软雅黑";background: #ff8c00;text-align: center;color:#fff;height: 35px;}
/*shopCar*/
.shopCar{background: #ff8c00;width: 145px;height: 35px;line-height: 35px;margin-top: 23px;color:#fff;margin-right: 50px;display: inline;}
.shopText{
    width: 87px;
    border-right: 1px solid #e27a00;
    height: 100%;
    background: url("../images/icon/shaoIcon.jpg") 10px center no-repeat;
    text-indent: 39px;
    }
.shopNum{border-left: 1px solid #ff9c01;width:56px;text-indent: 16px;height: 100%;}
.shopNum i{background: url("../images/icon/sj.jpg") left center no-repeat;width: 12px;height: 12px;display: inline-block;margin: 12px 0 0 7px;}
/*navBox*/
.navBox{
    background: #1369c0;
    height: 35px;
    color:#fff;
}
.shopCate{
    width:190px;
    position: relative;
}
.shopCate h3{
    line-height: 35px;
    text-align: center;
    height: 100%;
}
.shopCate h3 i{
    background: url("../images/icon/down.jpg") left center no-repeat;
    width:11px;
    height: 7px;
    display: inline-block;
    margin-left: 10px;
}
.nav{
    font-family: "微软雅黑";
}
.nav li{
    float: left;
    height: 100%;
    line-height: 35px;
    padding: 0 35px;
}
.nav li a{
    color:#fff;
}
.nav li.active{
    background: #4593fd;
}
/*shopClass_show*/
.shopClass_show{
    position: absolute;
    left:0;
    top:35px;
    width: 100%;
    background: #4593fd;
}
.shopClass_show a{
    color:#fff;
}
.shopClass_item {
    border-top: 1px solid #5aa1fe;
    border-bottom: 1px solid #3487f2;
    padding: 13px 10px;
    background: url("../images/icon/shop_sj.jpg") 176px center no-repeat;
    line-height: 16px;
}
.shopClass_active{
    background: #fff !important;
    border-left: 1px solid #4593fd;
}
.shopClass_active a{
    color:#333;
}
.shopClass_active a.alink{
    color:#fff;
}
.shopClass_item .alink{
    background: url("../images/icon/aLink_bg.png") left center no-repeat;
    width:48px;
    height: 20px;
    display: inline-block;
    font:12px/20px "宋体";
    text-align: center;
    text-decoration: underline;
}
.shopClass_item dt{
    font:14px/1 "微软雅黑";
    overflow: hidden;
    height: 21px;
}
.shopClass_item dd a{
    padding-right: 7px;
}

/*shopClass_list*/
.shopClass_list{
    width:568px;
    border-top: none;
    border: 1px solid #ddd;
    position: absolute;
    left: 190px;
    top: 35px;
    z-index: 100;
    background: #fff;
}
.shopList_count{
    width:538px;
    padding-left: 15px;
}
.shopList_item{
    padding: 10px;
    border-bottom:1px solid #ddd;
}
.vertical{
    padding-left: 10px !important;
}
.vertical li{
    float: none !important;
}
.vertical h3{
    font-size: 14px !important;
    padding-top: 5px;
}
.vertical .navCont_list{
    padding-left: 10px;
}
.shopList_item dt{
    width:80px;
    font-weight: bold;
    font-size: 14px;
    color:#1369c0;
    height:14px;
}
.shopList_item dd{
    padding-left: 80px;
    margin-top: -14px;
}
.shopList_item dd a{
    padding: 0 5px;
    color:#666;
    line-height: 22px;
}
.shopList_links{
    padding:15px 0;
}
.shopList_links a{
    background: #4892fd;
    padding: 8px 10px;
    display: inline-block;
    color: #fff;
}
.shopList_links a i{
    background: url("../images/icon/shop_sj.jpg") left center no-repeat;
    width:5px;
    height: 8px;
    display: inline-block;
    margin-left: 6px;
}
/*banner部分*/
.banner_bar{
    position: relative;
    overflow: hidden;
    float: right;
}
.banner_img{
    position: absolute;
    top:0;
    left:0;
}
.banner_img li{
    float: left;
}
.banner_link{
    width:100%;
    text-align: center;
    position: absolute;
    bottom:15px;
    left:0;
    height: 4px;
    /* overflow: hidden; */
}
.banner_link a{
    background: #fff;
    width: 22px;
    height: 4px;
    display: inline-block;
    margin-right: 4px;
    overflow: hidden;
}
.banner_link .active{
    background: #f80;
}
.banner_big{
    width:810px;
    height: 325px;
}
.banner_big .banner_img{
    width: 1620px;
    height: 325px;
}
.banner_big .banner_img img{
    width:810px;
    height: 325px;
}
/*商品标题*/
.shopTitle{
    padding: 15px 0;
}
.shopTitle span{
   background: url("../images/icon/shopIcon.jpg") left center no-repeat;
    width:44px;
    height: 44px;
    line-height: 44px;
}
.shopTitle h3{
    font:24px/44px "微软雅黑";
    padding-left: 12px;
}
.more{
    color:#000;
}
.more:hover{
    text-decoration: underline;
}
/*商品banner*/
.shopList .fl{
    width:190px;
    height: 400px;
}
.banner_sm{
    width:190px;
    height: 400px;
}
.banner_sm .banner_img{
    width: 380px;
    height: 400px;
}
.banner_sm .banner_img img{
    width:190px;
    height: 400px;
}
/*商品列表*/
.shopList .fr{
    width:809px;
    height:396px;
    overflow: hidden;
    border:1px solid #ccc;
    border-left: none;
    border-bottom: 3px solid #ff7201;
}
.shop_item{
    width:812px;
    text-align: center;
    font-family:"微软雅黑";
}
.shop_item li{
    float: left;
    width: 202px;
    height: 280px;
    border-right:1px solid #e5e5e5;
    border-bottom:1px solid #e5e5e5;
}
.shopImg{
    width:180px;
    height: 200px;
    padding-top: 20px;
}
.shop_item h3 a{
    color:#333;
    font-size: 16px;
}
.shop_item p{
    color:#ff7201;
    line-height: 20px;
    font-size:14px;
}
.shopList_sm{
    width: 812px;
    height: 116px;
}
.shopList_img{
    width: 100px;
    height: 116px;
    float: left;
    padding-top: 14px;
    text-align: center;
}
.shopList_img img{
    width:70px;
    height: 89px;
}
.shopList_sm li{
    width: 202px;
    height: 116px;
    float: left;
    border-right: 1px solid #ddd;
 }
.shopList_text{
    width:97px;
    padding-top: 26px;
    float: left;
}
.shopList_text a{
    color:#333;
    line-height: 18px;
}
.shopList_text h3{
    color:#181818;
    font-weight: normal;
    line-height: 20px;
}
/*底部*/
.footer_bar{
    background: #d4d4d4;
    height: 222px;
    /* margin-top: 40px; */
    line-height: 24px;
}
.footer_bar .comWidth{
    text-align: center;
}
.footer_title{
    padding-top: 50px;
}
.footer_title a{
    color:#000000;
}
.footer_company{
    width:100%;
    text-align: center;
}
.footer_company span{
    padding-right: 20px;
}
.footer_img img{
    padding:30px  24px 0 0;
}
/*商品分类页面*/
.list_bar{
    padding: 17px 0;
}
.list_bar .banner_bar{
    float: none;
}
.leftNav{
    width:182px;
    border:1px solid #d7d7d7;
    color: #555;
    background-color: #f6f6f6;
}
.nav_title{
    text-align: center;
    font:14px/34px "宋体";
    font-weight: bold;
    border-bottom:1px solid #d7d7d7;
}
.nav_cont{
    padding: 0  0 5px 20px;
    border-bottom: 1px dotted #d7d7d7;
    margin-bottom: -1px;
}
.nav_cont h3{
    font-size: 12px;
    line-height: 30px;
    height: 30px;
}
.list_bar .fr{
    width:810px;
    *width:790px;
}
.navCont_list li{
    float: left;
    width: 50%;
    color: #555;
    line-height: 24px;
}
.navCont_list li a{
    color: #555;
}

/*商品列表*/
.hr_15,
.hr_30,
.hr_45{
    overflow: hidden;
}
.hr_15{
    height: 15px;
}
.hr_30{
    height: 30px;
}
.hr_45{
    height: 45px;
}
.lists{
    width:812px;
}
.lists_title{
    margin-top: 5px;
    height: 40px;
    border-bottom: 2px solid #cccccc;
    width: auto;
}
.lists_cont{
    padding: 0 45px;
}
.lists_title h3{
    width: 170px;
    padding-left: 10px;
    color:#444;
    font: 14px/40px "宋体";
    font-weight: 900;
    border-bottom: 2px solid #096dba;
    margin-bottom: -2px;
    position: relative;
}
.screen_box .lists_item{
    width:33%;
    height: 352px;
}
.lists_item{
    width: 25%;
    *width: 24.9%;
    float: left;
    height: 265px;
}
.screen_box .lists_img img{
    width: 150px;
    height: 240px;
}
.screen_box .lists_img{
    width:100%;
    text-align: center;
    padding-top: 20px;
}
.screen_box .lists_text h3 span{
    font-size: 12px;
    font-weight: normal;
    font-family: "宋体";
    color:#666666;
    line-height: 21px;
}
.screen_box .lists_text a{
    padding-bottom: 5px;
}
.screen_box .lists_text h3 a{
    color:#1d7ad9;
    padding-left: 10px;
}
.screen_box .lists_btn{
    border:1px solid #c3d5e7;
    line-height: 22px;
    height: 22px;
    padding: 0 5px;
    width: 75px;
}
.screen_box .lists_btn a{
    background: url("../images/icon/car.jpg") left center no-repeat;
    width:13px;
    height: 12px;
    padding-left: 15px;
    color: #3979c0;
}
.lists_img img{
    width:180px;
    *width:170px;
    height: 170px;
    overflow: hidden;
}
.lists_text a{
    line-height: 18px;
    color:#333333;
    padding-bottom: 20px;
    display: inline-block;
}
.lists_text h3{
    color:#d4105a;
    font:14px/1 "微软雅黑";
    font-weight: bold;
    line-height: 14px;
}
.lists_text p{
    color:#444;
}
.lists_text p b{
    color:#085c9b;
    font-weight: normal;
}
/*筛选分类*/
.screen_list{
    width:74px;
    text-align: right;
    color:#999;
    float: left;
}
.limit{
    float: left;
    padding-left: 40px;
    padding-right: 28px;
}
.screenBar{
    width:100%;
}
.screenBar a{
    padding: 4px;
    color: #1d7ad9;
}
.screenBar .active{
    background: #1d7ad9;
    color:#fff;
}
.screen{
   line-height: 32px;
   border-bottom: 1px dotted #ddd;
   width: 100%;
}
.screen_cont{
    float: left;
    width: 500px;
}
.screen_item li{
    float: left;
    width:125px;
}
.more{
    color:#333;
    float: left;
}
.screenBar .more a{
    color:#333;
}
.screen_more{
    margin-left: 40px;
}
.screen_btn{
    float: left;
    height: 23px;
    line-height: 23px;
    margin-top: 3px;
    padding-right: 10px;
    border:1px solid #dcdcdc;
    margin-right: 10px;
}
.screen_btn a{
    color:#333;
    padding: 5px 10px;
    background: url("../images/icon/sj_grey.gif") right center no-repeat;
}
/*商品列表title信息*/
.addInfo{
    height: 31px;
    line-height: 31px;
    border:1px solid #d9d9d9;
    padding: 0 10px;
    color:#333;
    background-color: #f5f5f5;
}
.addInfo .fl{
    width:530px;
}
.addInfo .fr{
    width:180px;
    margin-right: 85px;
}
.addInfo span{
    float: left;;
}
.select{
    float: left;
    height: 31px;
    line-height: 31px;
    border:1px solid #bfbfbf;
    height: 22px;
    line-height: 22px;
    margin-top: 3px;
    margin-left: 10px;
    position: relative;
    padding-right: 10px;
    background: #fff;
    padding-right: -1px;
}
.select h3{
    color:#666;
    padding: 0 10px;
    font-size: 12px;
    /* position: relative; */
    float: left;
    font-weight: normal;
}
.select .arrow{
    background: url("../images/icon/sj_blue.jpg") left center no-repeat;
    width: 14px;
    height: 22px;
    /* float: left; */
    /* margin-top: 10px; */
    position: absolute;
    right: 0;
    top: 0;
}
.select_list{
    background: #fff;
    border:1px solid #bfbfbf;
    position: absolute;
    top: 22px;
    left: -1px;
    z-index: 100;
    line-height: 24px;
    padding: 5px;
    width: 100%;
}
.select_list li a{
    color:#666;
}
.addInfo span.addInfo_num{
    padding-left: 10px;
    color:#999;
    line-height: 32px;
    position: relative;
    top:-1px;
}
.addInfo_num i{
    font-style: normal;
    color:#d70000;
    font-size: 16px;
    font-weight: 900;
    font-family: "微软雅黑";
}
.checkBox input,
.checkBox label{
    vertical-align: middle;
}
/*分页*/
.page{
    width:100%;
    text-align: center;
}
.page a,
.page input{
    border:1px solid #c9c9c9;
    padding: 0 12px;
    height: 24px;
    line-height: 24px;
    margin-right: 5px;
    color:#333333;
    line-height: 24px\9;
    display:inline-block;
}
.page a.firstPage,
.page input{
    color:#999;
    border:1px solid #ddd;
}
.page span{
    color:#666;
}
.page_text{
    width: 20px;
    text-align: center;
    margin:0 4px;
    position: relative;
    z-index: 10;
}
.page_btn{
    background-color: #e8e8e8;
    margin-left:4px;
    outline: none;
}
.page a,
.page span,
.page input{
    vertical-align: middle;
}
.addInfo span{
    vertical-align: middle;
}
.checkBox{
    position: relative;
    top:-1px;
    line-height: 31px;
}
/*详情页*/
.gray{
    background-color: #f0f0f0;
}
/*位置*/
.userPosition{
    font-size: 0;
    font-family: "微软雅黑";
    line-height: 42px;
    height: 42px;
    padding-top: 10px;
}
.userPosition a,
.userPosition em,
.userPosition span
{
    color:#555555;
    font-size: 12px;
}
.userPosition em{
    font-style: normal;
}
.userPosition a:hover{
    text-decoration: underline;
}
/*商品描述*/
.des_info,
.recommend .recBar,
.recommend .des_infoContent{
    background-color: #fff;
    border:1px solid #cccccc;
}
.des_info .fl{
    width:309px;
}
.des_info .fr{
    width: 668px;
    border-left: 1px solid #cccccc;
    padding: 10px;
    overflow: hidden;
}
.des_info .fr .desCont_title{
    font:16px/22px "微软雅黑";
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 15px;
    padding-left: 15px;
}
.des_15{
    padding-left: 15px;
}
.des_img{
    text-align: center;
}
.desSm_img{
    width:266px;
    margin-left: 20px;
}
.desSm_img li{
    float: left;
    width: 19.6%;
    border:1px solid #cccccc;
    margin-right: -1px;
}
.desSm_img li:hover{
    border-color: #317ee7;
    position: relative;
}
/*详情右侧展示*/
.des_cont .dl{
    padding-bottom: 10px;
}
.des_cont{
    padding-bottom: 10px;
    width: 100%;
}
.des_cont .hg em{
    font-style: normal;
}
.dl{
    line-height: 24px;
    width: 100%;
}
.dt{
    width:60px;
    color:#666666;
    float: left;
}
.dd{
    padding-left: 70px;
}
.dd span{
    font-size: 12px;
}
.des_cont .des_price{
    font-family: "微软雅黑";
    color:#d70000;
    font-size: 22px;
    font-weight: bold;
}
.dt, .dd{
    line-height: 24px;
}
.theGoods{
    line-height: 24px;
}
.hg
{
    color:#666;
}
.hg_text{
    background: url(../images/icon/hg_icon.jpg) left center no-repeat;
    width:55px;
    height: 18px;
    line-height: 18px;
    display: inline-block;
    color:#fff;
    text-indent: 14px;
    padding-right: 5px;
}
.des_bottom{
    background-color: #f2f2f2;
    padding: 20px;
    width: 100%;
}
.des_bottom .select{
    margin-left: 0;
    margin-right: 10px;
}
.des_bottom .select span{
    color:#666;
}


.des_color{
    padding: 4px 30px;
    border:1px solid #cccccc;
    background-color: #fff;
    margin-right: 10px;
    float: left;
}
.des_size{
    float: left;
}
.desSize_bar{
    line-height: 62px;
}
.size_item{
    padding: 0 10px;
    border:1px solid #cccccc;
    background-color: #fff;
    margin-right: 10px;
    float: left;
    margin-bottom: 10px;
}
.color_active{
    border-color: #317ee7;
    cursor: pointer;
}
.colorSelect{
    line-height: 32px;
}
.des_size .color_cont{
    width: 545px;
}
.des_size{
    height: 24px;
    line-height: 24px;
    white-space: nowrap;
}
.color_cont ul{
    padding-bottom: 10px;
}
.des_size .dt{
    padding-top: 14px;
}
.des_num{
    width: 82px;
    height: 32px;
    line-height: 32px;
    border:1px solid #cccccc;
    background-color: #fff;
    padding-bottom: -2px;
    float: left;
}
.des_num div{
    float: left;
}
.plus,.minus{
    width: 14px;
    text-align: center;
    height: 100%;
    line-height: 32px;
}
.minus{
     border-right:1px solid #cccccc;
 }
.plus{
    border-left:1px solid #cccccc;
}
.num_input{
    width:50px;
    height: 100%;
    line-height: 32px;
    overflow: hidden;
}
.num_input input{
    width: 100%;
    border:none;
    text-align: center;
    height: 32px;
    line-height: 32px;
}
.num_limit{
    color:#666666;
    font-size: 14px;
    padding-left: 10px;
    float: left;
    line-height: 34px;
}
.num_limit em{
    font-style: normal;
    font-weight: bold;
    color:#fc7700;
}
/*购买*/
.des_select{
    font-weight: bold;
    color:#666666;
    height: 25px;
    line-height: 25px;
    padding: 17px;
}
.des_select span{
    color:#0479ca;
}
.desBuy_bar{
    text-align: center;
}
.desBuy_bar a{
    color:#fff;
}
.shopping,.des_buy{
    height: 48px;
    line-height: 48px;
    font-size: 20px;
    padding: 0 30px;
    display: inline-block;
    background-color: #f68500;
}
.shopping,
.desBuy_line,
.des_buy{
    vertical-align: middle;
}
.desBuy_line{
    height: 90px;
    background-color: #e5e5e5;
    width: 1px;
    margin: 0 50px;
    display: inline-block;
}
.des_buy a{
    color:#fff;
    text-indent: 38px;
    background:url("../images/icon/shaoIcon.jpg") left center no-repeat;
    display: inline-block;
}
.desBuy_info{
    display: block;
    color:#999999;
    padding-top: 20px;
    padding-bottom: 10px;
}
/*商品介绍*/
.recommend .fl{
    width:188px;
}
.recommend .fr{
    width:785px;
}
.recBar .rec_title{
    border-top: none;
}
.rec_title{
    border-top: 3px solid #1d86cf;
    height: 39px;
    line-height: 39px;
    font-size: 14px;
    border-bottom: 1px solid #ccc;
    text-indent: 15px;
}
.recBar{
    padding-bottom: 20px;
}
.recBar .lists_item{
    width:100%;
    float: none;
}
.recBar .lists_cont{
    padding: 0;
}
.recBar .lists_text{
    padding:0 15px;
}
.recBar .lists_text p a{
    color:#999;
}
.recBar .lists_text h3{
    font-size: 12px;
    font-weight: normal;
}
.screen_box .recBar  .lists_item{
    height: 253px;
}
.screen_box  .recBar  .lists_img img{
    width: 140px;
    height: 177px;
}
/*商品详情*/
.info_tit{
    height: 39px;
    line-height: 39px;
    border-bottom:1px solid #cccccc;
    font-size: 14px;
}
.info_tit li{
    float: left;
    width:50%;
    *width:49.8%;
    text-align: center;
    border-left:1px solid #cccccc;
    margin-left: -1px;
}
.info_tit .active{
    background-color: #0479ca;
    color:#fff;
    font-weight: bold;
}
.info_tit span{
    background: url("../images/icon/des_title_icon.png") left center no-repeat;
    height: 39px;
    padding-left: 30px;
    display: inline-block;
    line-height: 39px;
}
.info_ad{
    text-align: center;
    padding-top: 30px;
}
.des_infoCont{
    padding: 0 20px;
}
.des_tit{
    font-family: "微软雅黑";
    line-height: 26px;
    height: 26px;
    border-bottom: 2px solid #d7d7d7;
}
.des_tit h3{
    float: left;
    font-size:16px;
    color:#2457a6;
    border-bottom: 2px solid #2457a6;
    padding: 0 8px;
    font-weight: normal;
    margin-bottom: -2px;
    position: relative;
    height: 26px;
}
.des_tit h4{
    font-size: 12px;
    color:#666;
    font-weight: normal;
    padding-left: 4px;
    line-height: 26px;
}
.info_text p{
    font:14px/22px "宋体";
    color: #666;
    padding-top: 18px;
}
.imgs{
    text-align: center;
}
/*商品评价*/
.score_box{
    width:100%;
    padding-bottom: 30px;
}
.shopDes_tit{
    font-size: 14px;
    line-height: 38px;
    height: 38px;
    padding-left: 10px;
    color:#666666;
}
.score{
    padding-left: 10px;
}
.score_num{
    float: left;
    font-family: "微软雅黑";
}
.score_num span{
    font-size: 50px;
    color:#ff8f00;
}
.score_num em{
    font-style: normal;
    color:#66667d;
    font-size: 18px;
}
.score_speed{
    float: left;
    position: relative;
    margin-top: 10px;
    padding-left: 10px;
}
.score_speed p{
    color:#999;
}
.score_speed_text{
    background-color: #bdbdbd;
    width:450px;
    height: 16px;
    line-height: 16px;
    color:#fff;
    margin-bottom: 10px;
}
.score_speed_text li{
    float: left;
    width:20%;
    text-align: center;
}
.score_count{
    width:25px;
    height: 14px;
    text-align: center;
    background-color: #7f7f7f;
    color:#fff;
    position: absolute;
    right: 3%;
    top: -20px;
}
.score_sort{
    position: relative;
}
.score_count i{
    border-width: 3px;
    border-style:solid dashed dashed dashed;
    border-color: #7f7f7f transparent transparent transparent;
    width:0;
    height: 0;
    position: absolute;
    top: 13px;
    left: 5px;
}
/*评论*/
.review_tit{
    height: 32px;
    line-height: 32px;
    background-color: #f2f2f2;
    padding-left: 20px;
    padding-right: 10px;
}
.review_tit a{
    color:#000;
}
.review_tit_text,.review_tit_text li{
    float: left;
}
.review_tit_text li{
    margin-right: 45px;
    padding: 0 5px;
}
.review_tit_text .active{
    border-bottom: 3px solid #317ee7;
    line-height: 29px;
    cursor: pointer;
}
.review_btn{
    float: right;
}
.review_btn a{
    padding: 0 18px 0 10px;
    border:1px solid #cdcdcd;
    text-align: center;
    border-bottom: none;
    height: 20px;
    line-height: 20px;
    margin-top: 5px;
    display: inline-block;
    margin-right: 0;
    background: url(../images/icon/down.png) 58px center no-repeat;
}
.review_btn a.review_reco{
    border-right: none;
}
/*评价内容*/
.review_box{
    padding-bottom: 30px;
}
.review_list{
    padding: 0 24px 0 40px;
    width: 720px;
}
.review_userHeader{
    float: left;
    text-align: center;
    padding-bottom: 36px;
}
.review_userHeader p{
    line-height: 20px;
    color:#77778c;
}
.info_level{
    float: left;
    padding-left: 65px;
    padding-top: 8px;
    font-size: 12px;
}
.info_level span{
    font-weight: bold;
    padding-left: 5px;
}
.info_level .info_content{
    color:#777777;
    line-height: 12px;
    padding:20px 0 ;
}
.info_level  a{
    color:#085c9b;
}
.info_level  a:hover{
    text-decoration: underline;
}
.info_time{
    float: right;
    color:#ababab;
    padding-top: 10px;
}
/*全部咨询*/
.user_answer{
    background-color: #fff;
    padding-bottom: 20px;
}
.user_answer .page{
    text-align: right;
    width: 762px;
}
.answer_tit{
    height: 33px;
    line-height: 33px;
    border-bottom: 1px solid #0688ba;
    color:#0688ba;
}
.answer_box{
    font-weight: 900;
    font-size: 14px;
    padding:0 15px;
    border: 1px solid #0688ba;
    border-bottom: 1px solid #fff;
    float: left;
    line-height: 32px;
    /* z-index: 100; */
}
.announce{
    float: right;
    padding-right: 20px;
}
.announce a{
    color:#0688ba;
}
.answer_tips{
    color:#777777;
    line-height: 25px;
    background-color: #f3f3f3;
    padding: 6px 20px;
    margin: 10px 20px;
}
.answer_photo img{
    width: 35px;
    height: 35px;
}
.answerProduct{
    padding-left: 0px;
}
.answer_bar{
    padding-top: 26px;
}
.answers{
    background-color: #f3f3f3;
    padding:20px 30px;
    color:#777;
    width: 575px;
    margin-left: 35px;
    position: relative;
}
.answers span{
    color:#333;
}
.answer_time{
    width: 670px;
}
.answer_info{
    float: left;
}
.answer_time .info_level{
    padding-left: 35px;
    padding-top: 5px;
}
.answers i{
    border-width: 5px;
    border-style: dashed dashed dashed solid;
    border-color: transparent transparent #f1f1f1 transparent;
    width:0;
    height: 0;
    position: absolute;
    top: -10px;
    left:30px;
}
