ul{
    margin-bottom: 0;
}
body{
    padding-bottom: 4.6em;
}
/*top*/
.top{
    height: 30px;
    background-color: #4e4e4e;
    font-size:12px;
}
.top a{
    color:#999999;
}
.top-em{
    font-style: normal;
    color:#999;
}
.top-left-item{
    margin: 0 6px;
}
.top-left-item a:hover,
.top-today a{
    color:#f90;
}
.top-right-item a{
    line-height: 30px;
    color:#bababa;
}
.top-right-item a:hover{
    color:#fff;
}
.top-right-item em{
    margin: 0 10px;
}
.top-address .btn,
.top-address .open>.dropdown-toggle.btn-default,
.top-address .open>.dropdown-toggle.btn-default:hover,
.btn-default:active:focus, .btn-default:active:hover{
    border:none;
    background-color: #4e4e4e;
    color:#999999;
    padding: 0;
    line-height: 30px;
    font-size:12px;
}
.top-address  .dropdown-menu{
    left:60px;
    top:-5px;
    width:1000px;
    background-color: #4e4e4e;
    box-shadow: none;
}
.top-address  .dropdown-menu>li>a{
    color:#cccccc;
}
.top-address  .dropdown-menu>li>a:hover{
    background: none;
    color:#fff;
}
/*menu*/
.menu  .nav{
    margin-left: 198px;
    margin-right: 198px;
}
.menu .navbar{
    margin-bottom: 0;
}
.menu .navbar-header{
    height: 60px;
}
.menu .navbar-default{
    border-color:#e0e0e0;
    background-color: #fff;
    /*height: 60px;*/
}
.menu .navbar-form{
    padding-right: 0;
}
.menu .navbar-collapse{
    padding-right: 0;
}
.navbar-collapse .nav{
    background-color: #fff;
    z-index: 100000;
    position: relative;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover{
    background-color: #fff;
}
.navbar-default .navbar-toggle:focus .icon-bar,
.navbar-default .navbar-toggle:hover .icon-bar{
    background-color:#008040;
}

.menu  .navbar-brand{
    margin-top: 6px;
}
.menu  .nav>li>a{
    padding: 19px 14px;
    margin: 0 12px;
    color:#333;
    font-size:15px;
}
.menu  .active{
    border-bottom:2px solid #008040 ;
}
.menu  .navbar-default .navbar-nav>.active>a{
    background: none;
}
.menu  .navbar-form{
    border-radius:50px;
    border:1px solid #ddd;
    height: 32px;
    line-height: 32px;
    margin-top: 12px;
}
.menu  .navbar-form .form-control{
    padding: 0;
    height: 30px;
    line-height: 30px;
    position: relative;
    top: -3px;
}
.menu .form-control{
    border:none;
    box-shadow:none;
}
.menu  .btn-default{
    background: url("../images/ser-icon.jpg") center center no-repeat #ffffff;
    border:none;
    width:16px;
    height: 16px;
    margin-right: 10px;
}
.menu .navbar-default .navbar-nav>.open>a{
    background-color: #454545;
    color:#999;
}
.menu .dropdown{
}
/*banner*/
.banner .list-inline>li{
    padding: 0;
}
/*main-box*/
.main-box{
    background-color: #f2f2f2;
}
/*work*/
.p-tit{
    padding: .6em 0;
}
.p-tit h2{
    font-size:1.25em;
    font-weight: bold;
    color:#333;
    margin: 0;
}
.p-cont{
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    font-size:1em;
    color:#999;
}
.scroll-tit a{
    color:#666;
}
.scroll-tit,
.scroll-tit p span{
    padding-right: 20px;
}
.p-cont p span b{
    font-size:18px;
    padding: 0 5px;
    color:#666;
}
.p-cont p span b.p-tit-num{
    color:#008040;
}
.work-cont{
    padding-top: 10px;
}
.work-cont .thumbnail{
    padding: 0;
    border-radius:0;
}
.work-cont .thumbnail img{
    width:100%;
}
.thumbnail .caption{
    padding: 0;
}
.work-cont .thumbnail .caption h3{
    height: 1em;
    overflow: hidden;
}
.work-cont .thumbnail .caption p{
    overflow: hidden;
    height: 2em;
}
.work-cont .thumbnail .caption h3,
.work-cont .thumbnail .caption p{
    font-size:1em;
    padding: 0 15px;
}
.work-cont .thumbnail .caption p.text-border{
    border-top:1px solid #eee;
    padding-top: 10px;
}
.work-ico{
    color:#999999;
    background-color: #f6f6f6;
    border-top:1px solid #eee;
    padding: 8px 15px;
}
.work-ico b{
    color:#333;
    padding-right: 26px;
}
/*inter*/
.inter .p-tit,
.brand .p-tit{
    padding: 1em 0;
}
.inter-more{
    color:#999;
}
.inter-cont{
    background-color: #fff;
    border:1px solid #ddd;
    padding: 30px;
    padding-bottom: 15px;
}
.inter-cont-item img{
    float: left;
    padding-right: 40px;
}
.inter-cont-item h2{
    font-size:18px;
    margin-top: 0;
}
.inter-cont-item p{
    color:#888;
    line-height: 1.6em;
    margin-bottom: 1em;
    height: 90px;
    overflow: hidden;
}
/*brand*/
.brand-cont li{
    float: left;
    width:11.5%;
    overflow: hidden;
    margin-right: 1%;
    text-align: center;
}
.brand-cont li p{
    padding-top: 6px;
}
.brand .list-inline>li{
    padding: 0;
}
.brand-cont li:nth-child(8),
.brand-cont li:nth-child(16){
    margin-right: 0;
}
/*footer*/
.footer{
    position: fixed;
    bottom: 0;
    left:0;
    width:100%;
    padding: 10px 0;
    background-color: #fff;
    margin-left: 0;
    text-align: center;
    box-shadow: 0 0 4px #ddd;
}
.footer li{
    font-size:1.1em;
    width:19%;
    padding: 0;
}
.footer .list-inline>li{
    padding: 0;
}
.footer li a {
    color: #666;
}
.footer li a:hover,
.footer li.active a{
    color:#008040;
}
.footer li a span{
    font-size:1.1em;
}
.footer-box a,
.footer-nav .active a{
    color:#959595;
}
.footer-top{
    background-color: #3a3a3a;
    padding: 50px 0;
}
.footer-nav a{
    font-size:18px;
    color:#646464;
}
.footer-cont-nav{
    margin-top: 20px;
}
.footer-cont-nav li a{
    font-size:16px;
}
.footer-cont-nav li{
    width:102px;
    text-align: center;
    padding-bottom: 12px;
}
.footer-cont-nav li.active{
    border-bottom: 2px solid #008040;
}
.footer-cont-nav li.active a{
    color:#008040;
}
.footer-cont-details ul{
    float: left;
    margin-top: 15px;
}
.footer-cont-details li{
    line-height: 32px;
}
.footer-name{
    margin-right: 30px;
}
.footer-name em{
    font-style:normal;
    width:14px;
    line-height: 14px;
    height: 14px;
    border-radius: 50%;
    text-align: center;
    color:#fff;
    display: inline-block;
    margin-right: 15px;
}
.footer-name em.orange{
    background-color: #ff7700;
}
.footer-name em.green{
    background-color: #008040;
}
.footer-num{
    margin-right: 55px;
    margin-left: 30px;
}
.footer-ord{
    margin-left: 32px;
    margin-right: 64px;
}
.footer-nav li.footer-more a{
    font-size:14px;
}
.footer-refer-cont{
    line-height: 32px;
    margin-top: 15px;
    color:#959595;
}
.footer-refer-cont li a{
    overflow: hidden;
    display: inline-block;
    float: left;
    text-align: left;
    height: 32px;
}
.footer-refer-cont li a:first-child{
    width: 110px;
}
.footer-refer-cont li a:last-child{
    width: 200px;
}
.footer-bottom{
    background-color: #333333;
    color:#959595;
    padding: 30px 0;
    line-height: 30px;
    font-size:13px;
}
.footer-bottom p a{
    padding: 0 10px;
}
.footer-bottom p a:first-child{
    padding-left: 0;
}
.footer-links{
    color:#666;
}
.footer-links a{
    font-size:12px;
    color:#666;
    padding: 0 10px;
}



.banner{
    text-align: center;
}



/*media*/
@media (min-width: 1200px) {
    .banner{
        width:1170px;
        margin: 0 auto;
    }
    .banner{
        margin-top: 30px;
    }
}
@media (max-width:1200px){
    .menu  .nav{
        margin-left: 95px;
        margin-right: 95px;
    }
}
@media (max-width:992px){
    .menu  .nav{
        margin-left: 2px;
        margin-right: 2px;
    }
    .menu{
        position: fixed;
        top:0;
        left:0;
        width:100%;
        z-index: 1000;
    }
    .banner{
        margin-top: 30px;
    }
}
@media (max-width:767px){
    .brand-cont li{
        width:24%;
    }
    .menu .navbar-header{
        display: block;
        font-weight: bold;
        text-align: center;
        height: 50px;
    }
    .menu  .navbar-brand{
        margin-top: 0;
    }
    .navbar-default .navbar-brand:hover{
        color:#fff;
    }
    .navbar-default .navbar-brand {
        float: none;
        color:#fff;
    }
    /*top*/
    .menu .navbar-default{
        background-color: #008040;
        border:none;
    }

    .menu .navbar-toggle {
        position: relative;
        float: right;
        padding: 9px 10px;
        margin-top: 8px;
        margin-right: 15px;
        margin-bottom: 8px;
        background-color: transparent;
        border: 1px solid #fff;
        border-radius: 4px;
    }
    .menu .navbar-default .navbar-toggle .icon-bar{
        background-color: #fff;
    }
    .container-fluid{
        padding: 0;
    }
    .inter-cont{
        padding: 1em 1em 0 1em;
    }
    .inter-cont img{
        padding-right: 1em;
    }

}