.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
body{
    background-color: #f4f4f4;
}
/*top*/
.top{
    background-color: #4e4e4e;
    height: 31px;
    line-height: 31px;
    color:#999999;
}
.top a{
    color:#999999;
}
.top-left-item,
.top-right-item,
.top-left-line{
    float: left;
    padding: 0 10px;
}
.top-left-yellow a{
    color:#f80;
}
.top-drop-down{
    padding-right: 10px;
    position: relative;
}
.top-drop-down .icon{
    margin-left: 10px;
}
.top-drop-down-list-brand{
    position: absolute;
    top: 0;
    left: 88px;
    background-color: #4e4e4e;
    width: 1100px;
    height: 0;
    overflow: hidden;
}
.top-drop-down-list-brand a:hover{
    text-decoration: underline;
    color:#ddd;
}
.top-drop-down-list-brand li{
    float: left;
    font-size: 14px;
    padding: 2px 19px;
}
.top-drop-down-list-user{
    background-color: #454648;
    width: 100px;
    line-height: 28px;
    position: absolute;
    top:30px;
    left:0;
    height: 0;
    overflow: hidden;
}
.top-drop-down-list-user li:hover {
    background-color: #00803f;
}
.top-drop-down-list-user li:hover a{
    color:#fff;
}
.active{
    background-color: #454648;
}
.top-drop-down-list-user li{
    padding-left: 12px;
    text-indent: 0;
}
.top-drop-down-list-user li em{
    padding-left: 15px;
}
.top-drop-down-list-user li a{
    color:#999;
}
.top-drop-down-user{
    padding: 0;
    text-indent: 10px;
    width: 100px;
}
/*nav*/
.nav-box{
    background-color: #fff;
    height: 60px;
    border-bottom: 1px solid #e0e0e0;
}
.nav-logo{
    margin-top: 22px;
}
.nav-cont{
    margin-left: 200px;
}
.nav-cont-item{
    float: left;
    font-size:15px;
    line-height: 60px;
    padding: 0 16px;
}
.nav-cont-item .icon{
    font-size:14px;
}
.nav-cont-more{
    position: relative;
}
.nav-cont-more-cont{
    position:absolute;
    top:60px;
    left: 0px;
    height: 0;
    overflow: hidden;
    background-color: #454648;
    width:80px;
    text-align: center;
}
.nav-cont .active{
    background-color: #454648;
}
.nav-cont .active a{
    color:#999;
}
.nav-cont-more-cont li{
    line-height: 26px;
}

.nav-cont-more-cont li a{
    color:#999;
}