.selectCity{margin: 0 auto;width: 267px;}

.provice,.city,.area{
    color:#333;
    float: left;
    position: relative;
}
.provice a.proviceTitle,.city a.cityTitle,.area a.areaTitle{
    background: url("dropdown_bg-noborder._CB183808916_.gif") no-repeat right top;
    font-size: 12px;
    border: 1px solid #ddd;
    padding: 2px 20px 4px 4px;
    margin-right: 6px;
    color: #333;
}
.provice:hover,.city:hover,.area:hover{ text-decoration: none;}
.expand,.cityContent,.areaContent{
    position: absolute;
    width: 300px;
    /* display: none; */
    /* border: 1px solid #ddd; */
}
.expand li,.cityContent li,.areaContent li{
    font-size: 12px;
    text-align: left;
    padding-right: 18px;
    line-height: 28px;
    /* width: 60px; */
}