body{
    font-size:12px;
}

ul{
    list-style-type: none;
}

a{
    cursor: pointer;
}

a:hover{
    text-decoration: none;
}

.menu{
    height: 145px;
    margin: 0 auto;
    width: 300px;
    padding-left: 0;
    overflow: hidden;
}

.menu li{
    margin:10px 0;
    line-height: 18px;
    cursor: pointer;
}

.menu li span{
    color: #F90;
    padding-right: 5px;
}

.menu li i{
    font-style: normal;
    color:#888;
}

.menu li a{
    display: block;
    color:#333;
}

.menu li a:hover{
    color:#3d85b8;
}

.menu02{
    float: left;
    margin: 0 auto;
    width: 512px;
    /* white-space: nowrap; */
    overflow: hidden;
    padding: 0;
    /* height: 130px; */
    /* margin: 0 auto; */
    border: 1px solid #000;
    /* display: inline-block; */
    margin-left: 0;
    margin-right: 0;
}

.menuRoll{
    width: 1000px;
    margin: auto;
    padding-left: 0;
}
.menuRoll:before{
    content:"";
    display: table;
}
.menuRoll:after{
    content:"";
    clear: both;
    display: table;
}
.menu02 img{
    display: block;
    width:160px;
    height: 100px;
    /* padding-right: 10px; */
}
.menu02 li{
    width:160px;
    margin-right: 10px;
    /* display: inline-block; */
    overflow: hidden;
    margin-left: 0;
    float: left;
}

.menu02 li a{
    line-height: 30px;
    /* margin-right: 10px; */
    height: 28px;
    overflow: hidden;
    display: block;
}

.phone{width: 613px;}
