@font-face {font-family: "iconfont";
    src: url('iconfont.eot'); /* IE9*/
    src: url('iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont.woff') format('woff'), /* chrome, firefox */
    url('iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

body{ font-size: 12px;}
ul{list-style-type: none;}
a{ cursor: pointer;}

.search-top{ height: 25px;}
.search-top ul{ margin-left: -40px;}
.search-top ul li{width:50px; height: 25px; line-height: 25px; color:#ff5400; display: inline-block; text-align: center;}
.search-top ul li a:hover{ background: #ffeee5; display: block; }
.search-top ul li.selected  a,.search-btn input{ background: #ff5400;color:#fff;}
.search-top ul li.selected  a{ display: block;}

.search-input{ position: relative;}
.search-icon{ position: absolute; top: 50px; left: 15px; z-index: 0; color:#999;}
.search-input input{ float: left; border:3px solid #ff5400; width: 500px; height: 34px; line-height: 34px; padding-left: 20px;}
.search-btn input{height: 42px; line-height: 42px; width: 120px; border:none; font-size: 18px; font-weight: bold;}
.search-end{ margin-top: -2px;}
.search-end ul{ margin-left: -40px;}
.search-end ul li{ display: inline-block; color:#666; padding-right: 10px;}