body,ul,ol,li{
    padding: 0;
    margin: 0;
    font-size: 12px;
}
ul,ol{
    list-style-type: none;
}
input{
    background: none;
    outline: none;
}
.clearfix{
    display: inline-block;
}
.clearfix:after{
    content:"";
    clear: both;
    display: block;
}