body{ font-size:12px;}
.date{width: 362px;padding-left: 20px;}
.date .title{text-align: center;}
.date-days{line-height: 33px;overflow: hidden;margin-bottom: 0;}
.date-days li,.weekday li{width: 28px;line-height: 32px;}
.date-days li{color:#333;}
.date-days li:hover{ color:#fff; background: #f22e00; border-radius: 10px; padding-left: 6px;}
.date-days li.disabled{color:#999;}
.weekday{line-height: 20px;margin-bottom: 0px;}
.titleL{float: left;width: 40px;}
.titleR{float: left;width: 40px;}
.titleM{float: left;text-align: center;width: 108px;}
#title{border-radius: 25px;border: 1px solid #ddd;text-align: left;padding: 4px 10px;margin-top: 10px;}
.yearMonth span{padding-left: 10px;}

.rili{ display: none;background: #f5f5f5;}
.expend .rili{display: block;padding: 10px;border-radius: 4px;width: 230px;padding-right: 10px;}