ul,li{
    padding: 0;
    margin:0;
}
body{
    outline: none;
}
a,a:hover{
    cursor: pointer;
    text-decoration: none;
}
.fl{
    float:left;
}
.fr{
    float: right;
}
.hide{
    display: none;
}
.scroll_box{
    width:520px;
    overflow: hidden;
    position: relative;
    border:4px solid #085c9b;
}
.scroll{
    width:5000px;
    margin-left:0;
    height: 280px;
    overflow: hidden;
}
.scroll li{
    padding-left: 0;
    padding-right: 0;
    float: left;
}
.scroll_num{
    position: absolute;
    bottom: 10px;
    left:240px;
}
.scroll_num li{
    padding: 0 2px;
}
.scroll_num a{
    padding-top: 10px;
    width:10px;
    height: 0px;
    border-radius: 50%;
    background: #fff;
    display: block;
}
.scroll_num .select a{
    background-color: #f80;
}
.scroll_btn{
    position: absolute;
    left:0;
    top: 112px;
    width: 100%;
}
.scroll_btn a{
    background-color: #000;
    width: 24px;
    height: 48px;
    display: inline-block;
    opacity: 0.7;
    text-align: center;
    color: #fff;
}
.scroll_btn a:hover{
    opacity: 1;
}
.scroll img{
    width:520px;
    height:280px;
}
