<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>68design首页</title>
    <link rel="stylesheet" href="css/reset.css"/>
    <link rel="stylesheet" href="css/main.css"/>
</head>
<body>
<div id="index">
    <div class="top-box">
        <div class="top-tit">
            <div class="container clearFix">
                <div class="fl">
                    <div class="top-brand">
                        <drop-down tit="建站品牌" :drops="dropsCont" navClass="brandCont"></drop-down>
                    </div>
                    <div class="top-navsub">
                        <a href="javascript:;">担保接单</a>
                        <a href="javascript:;">急需求职</a>
                        <a href="javascript:;">高端人才</a>
                        <em>|</em>
                        <a href="javascript:;">PSD分享</a>
                        <a href="javascript:;">原创教程</a>
                        <em>|</em>
                        <a href="javascript:;">热门培训</a>
                        <a href="javascript:;" class="navsub-today">今日酷站</a>
                    </div>
                </div>
                <div class="fr top-user">
                    <a><a href="javascript:;">注册</a><em>|</em><a href="javascript:;">登录</a></a>
                    <a href="javascript:;">发布产品</a>
                </div>
            </div>
        </div>
        <div class="top-footer">
            <div class="container clearFix">
                <a href="index.html" class="top-logo fl"><img src="images/logo.png" alt=""/></a>
                <div class="top-menu fl">
                    <ul>
                        <li><a href="javascript:;" class="active">作品</a></li>
                        <li><a href="javascript:;">招聘</a></li>
                        <li><a href="javascript:;">素材</a></li>
                        <li class="new"><a href="javascript:;">服务</a></li>
                        <li class="moreMenu" @mouseenter="moreShow = !moreShow" @mouseleave="moreShow = !moreShow">
                            <a href="javascript:;">更多</a>
                            <ul class="menu-more" v-show="moreShow">
                                <li><a href="javascript:;">人才</a></li>
                                <li><a href="javascript:;">专访</a></li>
                                <li><a href="javascript:;">品牌</a></li>
                                <li><a href="javascript:;">十佳</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="top-search fr">
                    <form action="post">
                        <select name="" id="">
                            <option value="">作品</option>
                            <option value="">人才</option>
                        </select>
                        <input type="text" placeholder="关键字" class="search-txt" v-model="txt" @keyup="searchTxt"/>
                        <ul class="search-cont" v-show="showSearch">
                            <li v-for="(text,index) in texts" @click="searchDown(index)">{{text}}</li>
                        </ul>
                        <input type="button" value="" class="search-btn"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="container">
            <div class="banner">
                <div class="banner-box">
                    <ul class="clearFix">
                        <li v-for="(b,index) in bs" @mouseenter="scrollEnter" @mouseleave="scrollLeave(index)"><img alt="" :src="b"/></li>
                    </ul>
                    <a href="javascript:;" class="leftArr"><img src="images/arrleft.png" alt=""/></a>
                    <a href="javascript:;" class="rightArr"><img src="images/arrright.png" alt=""/></a>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="js/jquery-3.1.1.min.js"></script>
<script src="js/vue.js"></script>
<script>
    $(function () {

        Vue.component("drop-down",{
            props:["tit","drops","navClass"],
            template: '<div><a href="javascript:;" @click="dropShow = !dropShow">{{tit}}</a>\
            <ul v-show="dropShow" :class="navClass">\
            <li v-for="drop in drops"><a href="javascript:;">{{drop}}</a></li>\
            </ul></div>',
            data:function(){
                return {dropShow:false}
            }



        });
        var v1 = new Vue({
            el:"#index",
            data:{
                show:false,
                moreShow:false,
                isActive:false,
                searchShow:false,
                showSearch:false,
                arrowSrc:"images/arrow-down.jpg",
                brandCont:"brandCont",
                text:"春风十里",
                txt:"",
                texts:[],
                dataText:[
                        "春风十里",
                        "春风十里不如你",
                        "春风",
                        "十里",
                        "春风十里不如",
                        "春风十里不如你剧情介绍",
                        "盲约",
                        "盲约剧情介绍",
                        "盲约剧情"
                ],
                bs:[
                    "images/banner01.jpg",
                    "images/banner02.jpg",
                    "images/banner03.jpg"
                ],
                dropsCont:[
                        "html","css","js"
                ]
            },
            methods:{
                brandDown:function(){
                    this.show == false ? this.show = true : this.show = false;
                    this.arrowSrc == "images/arrow-down.jpg" ? this.arrowSrc = "images/arrow-right.jpg" : this.arrowSrc = "images/arrow-down.jpg";
                },
                searchTxt:function(){
                    var _self = this;
                    if(_self.txt != ""){
                        this.showSearch=true;
                        _self.texts=_self.dataText.filter(function(v){
                            return v.indexOf(_self.txt) != -1;
                        });
                        if(_self.texts==[]){
                            this.showSearch=false;
                        }
                    }

                },
                searchDown:function(index){
                    this.txt= this.texts[index];
                    this.showSearch=false;
                },
                scrollEnter:function(){
                    console.log("scrollEnter");
                },
                scrollLeave:function(index){
                    var scroll = function(){
                        var s=0;
                    }
                    console.log(this);
                    console.log("scrollLeave"+index);
                }

            }
        });

    })
</script>
</body>
</html>