ul,li,ol,dl,dd,p,div,span,i,b,img,h2,h3,body{
    padding:0;margin:0;
}
body{
    font-size: 12px;
}
ul{
    list-style-type: none;
}
input,select,textarea{
    outline: none;
}
textarea{
    resize: none;
}
img{
    border:none;
}
a,a:hover{
    text-decoration: none;
}
.fl{
    float: left;
}
.fr{
    float: right;
}

/*清楚浮动*/
.clearfix:after{
    content:"";
    clear: both;
    display: block;
}