*{
    padding: 0;
    margin: 0;
    border:0;
    outline: none;
    text-decoration: none;
    color:#333;
}
body{
    font-size:12px;
}
dl,ul{
    list-style-type: none;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.clearfix:after{
    content: "";
    display: block;
    clear: both;
}
.width{
    margin: 0 auto;
}
.ico{
    background: url("./assets/ico.png");
    display: inline-block;
}
.radius4{
    border-radius:4px;
}
.top-search .ico {
    background-position: 35px -56px;
}
.width{
    width:1200px;
}