<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Vue</title>
  <script type="text/javascript" src="vue.js"></script>
  <script type=text/javascript src="main.js"></script>
    <style>
        .finished{
            text-decoration: underline;
        }
    </style>
</head>
<body>
<div id="app006">
    <ul>
        <mylist v-for="list in lists" v-bind:ls="list"></mylist>
    </ul>
</div>
<div id="app005">
    <ul>
        <template>
            <li v-for="(item,idx) of items">{{idx+1}}&nbsp;{{item.text}}</li>
        </template>
    </ul>
</div>
<div id="app004">
    <div v-if="type==='A'">
        A
    </div>
    <div v-else>cb</div>
</div>
<div id="app003">
    <p v-if="ok">Yes</p>
    <p v-else> no</p>
</div>
<div id="app002">
    <mycomponent v-bind:class="{show:isShow}"></mycomponent>
</div>
<div id="app001" v-bind:class="classObject">
    绑定class对象
</div>
<div id="app">
  {{ message }}
</div>
<div id="app1">
    <span v-bind:title="message">dddw</span>
</div>
<div id="app2">
    <ol>
        <li v-for="a in as">{{a.text}}</li>
    </ol>
</div>
<div id="app3">
    <div>{{message}}</div>
    <button v-on:click="reverseMessage">点击</button>
</div>
<div id="app4">
    <p>{{message}}</p>
    <input v-model="message"/>
</div>
<div id="app5">
    <ul >
        <todo-item></todo-item>
    </ul>
</div>

<div id="app6">
    <ul>
        <item v-for="l in list" v-bind:list="l"></item>
    </ul>
</div>

<div id="app7">
    <ol>
        <item01></item01>
    </ol>
</div>

<div id="app8">
    <ol>
        <item02 v-for="i in items" v-bind:item="i"></item02>
    </ol>
</div>

<div id="app9">
    <span>{{message}}</span>
    <a v-on:click="reverseMessage">点击</a>
</div>

<div id="app10">
    <span v-once>This will never change{{msg}}</span>
</div>

<div id="app11">
    <div v-once>
        <h1>comment</h1>
        <p>{{msg}}</p>
    </div>
</div>

<div id="app12" v-html="rawHtml">

</div>

<div id="app13">
    <button
            :disabled="dis"
            >button</button>
</div>

<div id="app14">
    <p v-show="ok">ok</p>
</div>

<div id="app15">
    <ol>
        <li v-for="item in items" v-bind:class="{finished:item.isFinished}">{{item.text}}</li>
    </ol>
</div>

<div id="app16">
    <p v-html="msg"></p><p v-text="msg01"></p>
</div>

<div id="app17">
    <p>原始值：{{msg}}</p>
    <p>最终值：{{resultMsg | round2}}</p>
</div>

<div id="app18">{{rawId | formatId}}</div>

<div id="app19">
    <p>original message:{{message}}</p>
    <p>computed message:{{reverseMessage}}</p>
</div>

</body>
</html>