<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Vue</title>
  <script src="vue.js"></script>
  <script type=text/javascript src="main.js"></script>
</head>
<body>
<div id="app">
  {{ message }}
</div>
<div id="app1">
    <span v-bind:title="message">dddw</span>
</div>
<div id="app2">
    <ol>
        <li v-for="a in as">{{a.text}}</li>
    </ol>
</div>
<div id="app3">
    <div>{{message}}</div>
    <button v-on:click="reverseMessage">点击</button>
</div>
<div id="app4">
    <p>{{message}}</p>
    <input v-model="message"/>
</div>
<div id="app5">
    <ul >
        <todo-item></todo-item>
    </ul>
</div>

<div id="app6">
    <ul>
        <item v-for="l in list" v-bind:list="l"></item>
    </ul>
</div>

<div id="app7">
    <ol>
        <item01></item01>
    </ol>
</div>

<div id="app8">
    <ol>
        <item02 v-for="i in items" v-bind:item="i"></item02>
    </ol>
</div>

<div id="app9">
    <span>{{message}}</span>
    <a v-on:click="reverseMessage">点击</a>
</div>

</body>
</html>